<html>
    <title>
        Help Page
    </title>
    <legend>
        <h3>How to use the website</h3>
    </legend>
    <body>
        <p>This is a website centered around making your life easier inside and outside the kitchen with a search tool capable of finding a recipe catering to your needs, a submission page allowing for an infinitely expanding database, and a meal plan feature to take the daily uncertaincy out of your life.</p>
        <p>By using the search tool you can input anything from a name, a price, or a list of ingredients to find a list of recipes catered to your needs.</p>
        <p>Can't find a recipe you want?  By using our recipe submission page our database will never cease to expand until there is a recipe for every occasion.</p>
        <p>By using our meal plan feature you can remove the daily struggle of what you're going to eat while also allowing for once grocery trip with no extra wasted materials.</p>
    </body>
</html>
