<html>
    <title>

    </title>
    <style>
        table, th, td {
  border: 1px solid black;
}
    </style>
    <body>
        <fieldset>
            <form method="POST" action = "">
                <legend><h3>Meal plan</h3></legend>
                {% csrf_token %}
                {{ form.as_p }}
                <br><input type="submit" value="Add"/>
            </form>
        </fieldset><br>
        <table>
            <tr>
                <th>Day</th>
                <th>Breakfast</th>
                <th>Lunch</th>
                <th>Dinner</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>{{monBreakfast}}</td>
                <td>{{monLunch}}</td>
                <td>{{monDinner}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>{{tueBreakfast}}</td>
                <td>{{tueLunch}}</td>
                <td>{{tueDinner}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>{{wedBreakfast}}</td>
                <td>{{wedLunch}}</td>
                <td>{{wedDinner}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>{{thuBreakfast}}</td>
                <td>{{thuLunch}}</td>
                <td>{{thuDinner}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>{{friBreakfast}}</td>
                <td>{{friLunch}}</td>
                <td>{{friDinner}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>{{satBreakfast}}</td>
                <td>{{satLunch}}</td>
                <td>{{satDinner}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>{{sunBreakfast}}</td>
                <td>{{sunLunch}}</td>
                <td>{{sunDinner}}</td>
            </tr>
        </table>
    </body>
</html>
