<html>
    <head>
        <title>Search Tool</title>
    </head>
    <body>
        <p>
            <fieldset>
                <form method="POST" action = "">
                    <legend><h3>Look up recipes</h3></legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><input type="submit" value="Search"/>
                </form>
            </fieldset>
        </p>
        <div id='tableDiv'></div>
        <script>
            var recipes = {{recipes|safe}};

            var tableDiv = document.getElementById("tableDiv");
            tableDiv.innerHTML = `<table id='myTable1' border="1" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Recipes</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>`;
            var tableRef =  document.querySelector("table");
            for (var i=0; i<recipes.length; i++){
                var id = recipes[i];

                var newRow   = tableRef.insertRow();

                var id_cell  = newRow.insertCell(0);
                            
                var idText  = document.createTextNode(id);

                id_cell.appendChild(idText);
            }  
        </script>
    </body>
</html>