<html>
    <head>
        <title>Search Tool</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    </head>
    <body>
        <p>
            <fieldset>
                <form method="POST" action = "">
                    <legend><h3>Look up recipes</h3></legend>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><input type="submit" value="Search"/>
                </form>
            </fieldset>
        </p>
        <p>
            
            <button type="button" id="save" title="Save"><a href="download/?file_name=recipes">Save recipes as text file</a></button>
        </p>
        <div id='tableDiv'></div>
        <script>
            var recipes = {{recipes|safe}};

            var tableDiv = document.getElementById("tableDiv");
            tableDiv.innerHTML = `<table id='myTable1' border="1" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost</th>
                        <th>Ingredients</th>
                        <th>Instruction</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>`;
            var tableRef =  document.querySelector("table");
            for (var i=0; i<recipes.length && i < 5; i++){
                var name = recipes[i][0];
                var cost = "$"+recipes[i][1];
                var ingredients = recipes[i][2];
                var instruction = recipes[i][3];

                var newRow   = tableRef.insertRow();

                var name_cell  = newRow.insertCell(0);
                var cost_cell  = newRow.insertCell(1);
                var ingredients_cell  = newRow.insertCell(2);
                var instruction_cell  = newRow.insertCell(3);
                            
                var nameText  = document.createTextNode(name);
                var costText  = document.createTextNode(cost);
                var ingredientsText  = document.createTextNode(ingredients);
                var instructiosText  = document.createTextNode(instruction);

                name_cell.appendChild(nameText);
                cost_cell.appendChild(costText);
                ingredients_cell.appendChild(ingredientsText);
                instruction_cell.appendChild(instructiosText);
            }  
        </script>
    </body>
</html>
